.Canvas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}

.left-align {
    align-self: flex-start;
}

#canvas-wrapper {
    width: 640px;
    height: 480px;
    overflow: hidden;
}

#control-panel {
    /* background: white; */
    margin-top: 3em;
}

#stroke-control {
    display: grid;
    grid-template-columns: 80% 20%;
}

#stroke-control > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#stroke-slider {
    width: 100%;
}

#stroke-slider:focus {
    outline: none;
}

#color-palette {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #808080;
    padding-top: 1em;
    margin-bottom: -2em;
}

.color-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 3em;
}

.color-div > button {
    height: 1.3em;
    width: 2.5em;
    border: none;
}

#color-div {
    display: flex;
    flex-direction: row;
}

#middle-colors-div {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

#middle-left {
    width: 28.5%;
    background-color: #808080;
    height: 5em;
    margin: 0;
    padding: 0;
}

#middle-right {
    width: 71.5%;
    margin: 0;
    padding: 0;
}

#middle-left, #middle-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.middle-color {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 3em;
}

.middle-color:hover, .color-div > button:hover {
    opacity: 0.6;
}

.middle-color > * {
    height: 1.3em;
    width: 2.5em;
    border: none;
}

.middle-color-filler {
    /* border: 2px solid black; */
}

.middle-color input {
    padding: 0;
    outline: none;
    background-color: rgba(0,0,0,0);
    height: 2em!important;
    width: 3em!important;
}

::-moz-color-swatch {
    border-color: rgba(0,0,0,0);
}

::-webkit-color-swatch {
    border-color: rgba(0,0,0,0);
}

#greyscale-color-btn1 {
    background-color: #ffffff;
}

#greyscale-color-btn2 {
    background-color: #a4a4a4a4;
}
#greyscale-color-btn3 {
    background-color: #000000;
}

.color-picker {
    background-color: #808080;
}

#color-palette {
    background-color: #808080;
    padding: 1em 0;
    margin-bottom: -2em;
}

.color-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 3em;
}

.color-div > button {
    height: 1.3em;
    width: 2.5em;
    border: none;
}

#canvas-img {
    display: none;
}

#p5canvas {
    width: 640px;
    height: 480px;
}